<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <p> Team Name </p> <input type="text">
  <p> Team Motto </p> <input type="text">

  <input type="submit" value="Submit">

</form>
